[submodule "themes/next"]
	path = themes/next
	url = https://github.com/Fanlu91/hexo-theme-next.git
[submodule "themes/themes/next"]
	path = themes/themes/next
	url = https://github.com/Fanlu91/hexo-theme-next.git
